* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1020px;
}

 /* header */

header .container {
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  height: 95px;
  color: #ffffff;
  background-color: #2d303a;
  font-family: "Lato-Bold", sans-serif;
  border-bottom: 5px solid #323746;
}

.header-logo h1 {
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.header-logo-symbol {
  color: #f06c64;
}

.header-menu {
  font-size: 0px;
}

nav {
  margin-left: 450px;
}

.header-menu .header-menu-item {
  display: inline-block;
  margin-right: 30px; 
  font-size: 12px;
  line-height: 38px;
  vertical-align: middle;
  letter-spacing: -0.05em;
}

.header-menu-item a {
  text-decoration: none;
  color: #ffffff;
}

.header-menu .header-menu-item a:hover {
  color: #f06c64;
}

.header-menu-item:not(:first-child)::before {
  content: ".";
  position: relative;
  bottom: 3px;
  left: -13px;
  font-weight: 400;
  font-size: 19px;
  font-family: "Lato-Regular", sans-serif;
  color: #494e62;
}

.header-menu li:last-child {
  margin-right: 0px;
}

/* slider */

.slider-block .container {
  position: relative;
  height: 600px;
  background-color: #f06c64;
  display: flex;
  border-bottom: 15px solid #ea676b;
}

.slide {
  width: 80%;
}

.arrow-cont {
  margin: auto;
  width: 100px;
  font-size: 50px;
  text-align: center;
}

.arrow {
  border: solid #ca4549;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
  opacity: 0.7;
}

.arrow-left {
  position: absolute;
  left: 45px;
  top: 284px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.arrow-right {
  position: absolute;
  right: 44px;
  top: 285px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.arrow:hover {
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
}

.phone-vertical {
  position: absolute;
  top: 53px;
  left: 113px;
}

.phone-horizontal {
  position: absolute;
  right: 111px;
  bottom: 171px;
}

/* services */
.services-block .container{
  padding: 60px 40px;
}

.services-text{
  margin-bottom: 43px;
}

.services-text h2 {
  margin-bottom: 15px;
  font-family: "Lato-Black", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #666d89;
}

.services-text p {
  font-size: 18px;
  line-height: 32px;
  color: #767e9e;
  font-family: "Lato-Light", sans-serif;
  letter-spacing: -0.0018em;
}

.services-preferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services-preferences-item {
  width: 300px;
  font-size: 0;
}

.services-preferences-item:nth-child(1),
.services-preferences-item:nth-child(2),
.services-preferences-item:nth-child(3) {
  margin-bottom: 32px;
}

.services-preferences-item:nth-child(1),
.services-preferences-item:nth-child(4),
.services-preferences-item:nth-child(2),
.services-preferences-item:nth-child(5) {
  margin-right: 20px;
}

.services-preferences-item > div {
  display: inline-block;
}

.services-preferences-img {
  width: 80px;
  vertical-align: top;
}

.services-preferences-text {
  width: 220px;
}

.services-preferences-text h3 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 16px;
  color: #666d89;
  font-family: "Lato-Black", sans-serif;
}

.services-preferences-text p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular", sans-serif;
  text-align: justify;
}


@font-face {
  font-family: "Lato-Black";  
  src: url("./assets/font/Lato-Black.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 900;
}
@font-face {
  font-family: "Lato-Bold";  
  src: url("./assets/font/Lato-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Regular";  
  src: url("./assets/font/Lato-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Light";  
  src: url("./assets/font/Lato-Light.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 300;
}